@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@300;400;500;600;700&display=swap');

body{
  background: #0D082B;
}

.our-team {
  justify-content: center;
  display: flex;
  gap: 20px;
}

.team-card {
  background: #FFFFFF;
  border-radius: 4px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  transition: all 0.2s ease;
  max-width: 250px;
}

.team-card:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.team-card-media img {
  width: 100%;
}
.team-card-media img:hover {
    filter: grayscale(0%);
    transform: scale(1.03);
}


.team-card-media {
  padding: 8px;
}
.team-card-media img {
  border-radius: 6px;
  margin-bottom: 20px;
  filter: grayscale(80%);
  transition: all 0.3s ease;
  margin: 0px;
}

.team-card-text {
  text-align: center;
  font-family:'Anek Bangla', sans-serif;
}

.team-card-text h4 {
  margin: 0px;
  font-size: 24px;
  line-height: 26px;
  color: #374249;
  font-weight: 800;
}

.team-card-text p {
  margin: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.02em;
}


.team-card-social ul {
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
  padding: 0px;
}

.team-card-social ul li{
 list-style: none;
}

.team-card-social ul li a svg:hover {
  fill: #007bff;
}
